@import "../../assets/variables.scss";

.gallery {
  &__cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
  }

  &__buttons {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    column-gap: 20px;
  }
}

@media screen and (max-width: 1279px) {
  .gallery {
    &__cards {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

@media screen and (max-width: 767px) {
  .gallery {
    &__cards {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  .d-sm-none {
    display: none;
  }
}
