@import "../../assets/variables.scss";

.pokemonPage {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 20px;
}

.pokemon {
  display: flex;
  flex-direction: column;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

@media screen and (max-width: 767px) {
  .pokemonPage {
    grid-template-columns: 1fr;
  }
}
