@import "../../assets/variables.scss";

.header {
  position: sticky;
  top: 0;
  background-color: $white;
  @extend %shadow;

  &__wrapper {
    width: $content-width-xl;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
  }
}

.nav {
  &__list {
    display: flex;
    column-gap: 40px;
  }

  &__link {
    color: $dark;
  }
}

@media screen and (max-width: 1279px) {
  .header {
    &__wrapper {
      width: $content-width-lg;
    }
  }
}

@media screen and (max-width: 767px) {
  .header {
    &__wrapper {
      width: $content-width-sm;
    }
  }
}